<%= devise_error_messages! %>
<div class="tabs">
    <ul class="tab-links">
        <li class="active"><a href="#tab1">태그 수정</a></li>
        <li><a href="#tab2">비밀번호 수정</a></li>
        <li><a href="#tab3">기타 회원정보 수정</a></li>
    </ul>

    <div class="tab-content px-1 py-1">
      <div id="tab1" class="tab active">
        <div class="container col-6">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= f.label :tag_list, "관심 키워드"%>
            <%= f.text_area :tag_list, value: resource.tag_list.join(", ") ,:class => "form-control mb-3", :rows => "5"%>
            <%= f.submit "수정완료", :class => "btn btn-lg btn-primary btn-block my-3" %>
        </div>
      </div>

      <div id="tab2" class="tab">
        <div class="container col-6">

            <!-- <%= devise_error_messages! %>
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>-->
              <%= f.label :password,"현재 비밀번호" %>
              <%= f.password_field :current_password, autocomplete: "off", :class => "form-control my-3" %>
              <%= f.label :password ,"새로운 비밀번호"%>
              <% if @minimum_password_length %>
                <em>최소 <%= @minimum_password_length %>자 이상</em>
                  <br />
              <% end %>
              <%= f.password_field :password, autocomplete: "off" , :class => "form-control my-3"%>
              <%= f.label :password_confirmation ,"비밀번호 확인"%>
              <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control my-3" %>

            <%= f.submit "수정완료", :class => "btn btn-lg btn-primary btn-block my-3" %>
          <% end %>
        </div>
      </div>

      <div id="tab3" class="tab">
        <div class="container col-6">
          <%= button_to "회원탈퇴", registration_path(resource_name), data: { confirm: "정말 탈퇴하시겠습니까? 모든 정보는 소멸됩니다." }, method: :delete , class: "btn btn-lg btn-danger btn-block my-3"%>
      </div>
    </div>
  </div>
</div>
