= devise_error_messages!

/ 탭
%ul.nav.nav-pills.navposition.py-3{:role => "tablist"}
  %li.nav-item
    %a.nav-link.active{"data-toggle" => "tab", :href => "#tags_edit", :role => "tab"} 태그 수정
  %li.nav-item
    %a.nav-link{"data-toggle" => "tab", :href => "#password_edit", :role => "tab"} 비밀번호수정
  %li.nav-item
    %a.nav-link{"data-toggle" => "tab", :href => "#user_edit", :role => "tab"} 기타 회원정보 수정


/ 탭 패널
.tab-content.tabposition
  #tags_edit.tab-pane.active{:role => "tabpanel"}
    .container.col-6
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = f.label :tag_list, "관심 키워드"
        = f.text_area :tag_list, value: resource.tag_list.join(", ") ,:class => "form-control mb-3", :rows => "5"
        = f.submit "수정완료", :class => "btn btn-lg btn-primary btn-block my-3"
  #password_edit.tab-pane{:role => "tabpanel"}
    .container.col-6
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = f.label :password,"현재 비밀번호"
        = f.password_field :current_password, autocomplete: "off", :class => "form-control my-3"
        = f.label :password ,"새로운 비밀번호"
        - if @minimum_password_length
          %em
            최소 #{@minimum_password_length}자 이상
          %br/
        = f.password_field :password, autocomplete: "off" , :class => "form-control my-3"
        = f.label :password_confirmation ,"비밀번호 확인"
        = f.password_field :password_confirmation, autocomplete: "off", :class => "form-control my-3"
        = f.submit "수정완료", :class => "btn btn-lg btn-primary btn-block my-3"
  #user_edit.tab-pane{:role => "tabpanel"}
    .container.col-6
      = button_to "회원탈퇴", registration_path(resource_name), data: { confirm: "정말 탈퇴하시겠습니까? 모든 정보는 소멸됩니다." }, method: :delete , class: "btn btn-lg btn-danger btn-block my-3"
