= devise_error_messages!
.tabWrap
  %div{:class => "box 6u$ 12u$(small)"}
    .tab_Menu{:class => "12u$"}
      %li.tabMenu.current
        %a{:href => "#tabContent01", :class => "button"} 태그수정
      %li.tabMenu
        %a{:href => "#tabContent02", :class => "button"} 비밀번호 수정
      %li.tabMenu
        %a{:href => "#tabContent03", :class => "button"} 회원 탈퇴
    .tab_Content_Wrap
      #tabContent01.tabPage
        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
          %div{:class => "4u$ 6u$(medium) 12u$(small)"}
            = f.label :tag_list, "관심 키워드"
            %div{:class => "12u$"}
            = f.label :tag_list, ", 으로 키워드를 구분지어주세요."
          %div{:class => "12u$"}
            = f.text_area :tag_list, value: resource.tag_list.join(", "), :rows => "5", :place_holder => ', 으로 키워드를 구분시켜 주세요'
          %div{:class => "4u$ 6u$(medium) 12u$(small)", :style => "margin: 10px 0 0 0"}
            = f.submit "수정완료", class: "special"
      #tabContent02.tabPage
        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
          %div{:class => "4u$ 6u$(medium) 12u$(small)"}
            = f.label :password,"현재 비밀번호"
          %div{:class => "4u$ 6u$(medium) 12u$(small)"}
            = f.password_field :current_password, autocomplete: "off"
          %div{:class => "4u$ 6u$(medium) 12u$(small)"}
            = f.label :password ,"새로운 비밀번호"
            - if @minimum_password_length
              %em
                최소 #{@minimum_password_length}자 이상
              %br/
          %div{:class => "4u$ 6u$(medium) 12u$(small)"}
            = f.password_field :password, autocomplete: "off"
          %div{:class => "4u$ 6u$(medium) 12u$(small)"}
            = f.label :password_confirmation ,"비밀번호 확인"
          %div{:class => "4u$ 6u$(medium) 12u$(small)"}
            = f.password_field :password_confirmation, autocomplete: "off"
          %div{:class => "4u$ 6u$(medium) 12u$(small)", :style => "margin: 10px 0 0 0"}
            = f.submit "수정완료", class: "special"
      #tabContent03.tabPage
        %div{:class => "12u$", :style => "margin: 10px 0 0 0"}
          = button_to "정말로 탈퇴하고 싶습니다!!!", registration_path(resource_name), data: { confirm: "정말 탈퇴하시겠습니까? 모든 정보는 소멸됩니다." }, method: :delete, class: "special"


:javascript
  function tabSetting() {
      // 탭 컨텐츠 hide 후 현재 탭메뉴 페이지만 show
      $('.tabPage').hide();
      $($('.current').find('a').attr('href')).show();

      // Tab 메뉴 클릭 이벤트 생성
      $('li').click(function (event) {
          var tagName = event.target.tagName; // 현재 선택된 태그네임
          var selectedLiTag = (tagName.toString() == 'A') ? $(event.target).parent('li') : $(event.target); // A태그일 경우 상위 Li태그 선택, Li태그일 경우 그대로 태그 객체
          var currentLiTag = $('li[class~=current]'); // 현재 current 클래그를 가진 탭
          var isCurrent = false;

          // 현재 클릭된 탭이 current를 가졌는지 확인
          isCurrent = $(selectedLiTag).hasClass('current');

          // current를 가지지 않았을 경우만 실행
          if (!isCurrent) {
              $($(currentLiTag).find('a').attr('href')).hide();
              $(currentLiTag).removeClass('current');

              $(selectedLiTag).addClass('current');
              $($(selectedLiTag).find('a').attr('href')).show();
          }

          return false;
      });
  }

  $(function () {
      // 탭 초기화 및 설정
      tabSetting();
  });
