= devise_error_messages!
.tabWrap
  .box
    .tab_Menu{:class => "12u$"}
      %li.tabMenu.current
        %a{:href => "#tabContent01", :class => "button special"} 태그수정
      %li.tabMenu
        %a{:href => "#tabContent02", :class => "button special"} 비밀번호 수정
      %li.tabMenu
        %a{:href => "#tabContent03", :class => "button special"} 회원 탈퇴
    .tab_Content_Wrap
      #tabContent01.tabPage
        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
          %div{:class => "12u$"}
            = f.label :tag_list, "관심 키워드"
          %div{:class => "12u$"}
            = f.text_area :tag_list, value: resource.tag_list.join(", "), :rows => "5"
          %div{:class => "12u$", :sytle => "padding: 10px"}
            = f.submit "수정완료"
      #tabContent02.tabPage
        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
          = f.label :password,"현재 비밀번호"
          = f.password_field :current_password, autocomplete: "off"
          = f.label :password ,"새로운 비밀번호"
          - if @minimum_password_length
            %em
              최소 #{@minimum_password_length}자 이상
            %br/
          = f.password_field :password, autocomplete: "off"
          = f.label :password_confirmation ,"비밀번호 확인"
          = f.password_field :password_confirmation, autocomplete: "off"
          = f.submit "수정완료"
      #tabContent03.tabPage
        = button_to "회원탈퇴", registration_path(resource_name), data: { confirm: "정말 탈퇴하시겠습니까? 모든 정보는 소멸됩니다." }, method: :delete