소개 페이지

<div class="intro-wrapper">
    <div class="intro-bord">
        &nbsp&nbsp&nbsp우리 페이지 Damoa는 사용자들의 관심사를 조사하여 따로 검색할 필요없이 원하는 게시물을 열람할 수 있는 페이지입니다.<br>
        저희는 여러 커뮤니티 사이트들을 크롤링하여 각각에서 인기있는 게시물들을 모아 볼 수 있습니다.<br>
        이용하는 방법은 로그인을 하신후 나의 정보 수정 -> 관심키워드에 키워드를 입력하시면 왼쪽 하단 추천게시물에서 원하는 게시물을 볼수있습니다.<br>
        
    </div>
    <div class="crawling">
        크롤링 사이트<br>
        <div class="slider">
            <figure>
                <%= image_tag "humoruniv.png" %>
                <%= image_tag "clien.png" %>
                <%= image_tag "ruli.png" %>
                <%= image_tag "thisisgame.jpg" %>
                <%= image_tag "ygosu.png" %>
                <%= image_tag "bobaedream.jpg" %>
                <%= image_tag "dcinside.png" %>
                <%= image_tag "etc.gif" %>
                <%= image_tag "gameshot.png" %>
            </figure>
        </div>
    </div>
</div>