<div class="intro-wrapper">
    <div class="intro-layout">
        <h1 class="da">Damoa</h1>
        <div class="intro-bord">
            <div class="tro">
                <br><br>
                <p class="p-title"> 
                    Damoa는 사용자들의 관심사를 조사하여<br>
                    맞춤 게시물을 열람할 수 있는 페이지입니다.<br>
                </p>
                <p class="p-bottom">
                    Damoa는 여러 커뮤니티 사이트들을 크롤링하여 각각에서<br> 인기있는 게시물들을 모아 볼 수 있습니다.<br>
                </p>
                <br><br>
            </div>
        </div>
        <div class="intro-etc">
            - 추천 게시물 이용 방법 : 로그인 -> 자기정보 수정 -> 키워드 입력<br>
            <div class="repre-img">
                <%= image_tag "login.PNG" %>
                <%= image_tag "modify.PNG" %>
            </div>
            - 히스토리 : 내가 열람했던 게시물들의 모임<br>
            - 즐겨찾기 : 즐겨찾기를 활성화한 게시판들의 모임<br>
            - 평점 계산방법 : ((게시물 조회수 / 사이트별추천수당 조회수 비율) + 게시물 추천수) - 시간 가중치(10시간당 -1 로 산정)
        </div>
        <div class="6u$ 12u$(medium)" id="pie-chart" style="height: 300px"></div>
        <script>
            // Create a pie chart:
            echarts.init(document.getElementById('pie-chart')).setOption({
                title : {
                    text: '수집한 사이트별 게시물',
                    x:'center'
                },
                tooltip : {
                    trigger: 'item',
                    formatter: "{b} : {c} ({d}%)"
                },
                series: {
                    type: 'pie',
                    data: [
                        <% group_count = Totalpost.all.group(:source).count.each do |k,v| %>
                        {name: "<%= source_convert k %>", value: <%= v %>},
                        <% end %>
                    ],
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            });
        </script>
        <div class="crawling">
            - 크롤링 사이트<br>
            <div class="slider">
                <figure>
                    <%= image_tag "humoruniv.png" %>
                    <%= image_tag "ruli.png" %>
                    <%= image_tag "thisisgame.jpg" %>
                    <%= image_tag "ygosu.png" %>
                    <%= image_tag "bobaedream.jpg" %>
                    <%= image_tag "gameshot.png" %>
                </figure>
            </div>
        </div>
    </div>
</div>