<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
  <title>Damoa</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <!--[if lte IE 8]><%= javascript_include_tag "ie/html5shiv" %><![endif]-->
  <%= stylesheet_link_tag 'main' %>
  <!--[if lte IE 9]><%= stylesheet_link_tag 'ie9' %><![endif]-->
  <!--[if lte IE 8]><%= stylesheet_link_tag 'ie8' %><![endif]-->
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
<body>

<!-- Wrapper -->
<div id="wrapper">

  <!-- Main -->
  <div id="main">
    <div class="inner">

      <!-- Header -->
      <header id="header">
        <a href="index.html" class="logo"><strong>Damoa</strong> by 폭풍전야</a>
        <ul class="icons">
          <% if user_signed_in? %>
              <li>
                <%= link_to "로그아웃", destroy_user_session_path, method: :delete, data: { confirm: "로그아웃 하시겠습니까?" } ,class: 'button small' %>
              </li>
          <% else %>
              <li>
                <%= link_to "로그인", new_user_session_path, class: 'button small' %>
              </li>
              <li>
                <%= link_to "회원가입", new_user_registration_path, class: 'button small' %>
              </li>
          <% end %>
        </ul>
      </header>
      <section>
        <%= yield %>
      </section>



    </div>
  </div>

  <!-- Sidebar -->
  <div id="sidebar">
    <div class="inner">

      <!-- Search -->
      <section id="search" class="alt">
        <%= form_tag("/search", method: "get") do %>
          <%= text_field_tag(:q,nil,placeholder: 'Search') %>
        <% end %>
      </section>


      <!-- Menu -->
      <nav id="menu">
        <header class="major">
          <h2>Menu</h2>
        </header>
        <ul>
          <!--<li><%= link_to "사이트 소개", intro_path %></li>-->
          <li><%= link_to "인기 게시물",root_path %></li>
          <% if user_signed_in? %> <!--로그인을 했을때만 나타나는 메뉴 -->
            <li><%= link_to "열람 기록",history_index_path %></li>
            <li><%= link_to "즐겨찾기",scrap_index_path %></li>
            <li><%= link_to "나의 정보 수정",edit_user_registration_path %></li>
          <% end %>
          <!--<li><a href="#">라라라라라</a></li>-->
          <!--<li><a href="#">Adipiscing</a></li>-->
          <!--<li>-->
            <!--<span class="opener">Another Submenu</span>-->
            <!--<ul>-->
              <!--<li><a href="#">Lorem Dolor</a></li>-->
              <!--<li><a href="#">Ipsum Adipiscing</a></li>-->
              <!--<li><a href="#">Tempus Magna</a></li>-->
              <!--<li><a href="#">Feugiat Veroeros</a></li>-->
            <!--</ul>-->
          <!--</li>-->
          <!--<li><a href="#">Maximus Erat</a></li>-->
          <!--<li><a href="#">Sapien Mauris</a></li>-->
          <!--<li><a href="#">Amet Lacinia</a></li>-->
        </ul>
      </nav>

      <!-- Section -->
      <% if user_signed_in? %>
        <section>
          <header class="major">
            <h2>추천 게시물</h2>
          </header>
          <div class="mini-posts">
            <% @recommends = RecommendPost.where(user_id: current_user).limit 5 %>
            <% @recommends.each do |recommend| %>
                <% post = recommend.totalpost %>
                <article>
                  <span class="image fit">
                    <%= link_to "/totalpost/show/#{post.post_no}" do %>
                      <%= post_img post %>
                    <% end %>
                  </span>
                  <p><%= truncate post.posttext, length: 100 %></p>
                </article>
            <% end %>
          </div>
          <ul class="actions">
            <li><%= link_to '더보기',recommend_path %></li>
          </ul>
        </section>
      <% end %>

      <!-- Section -->
      <section>
        <header class="major">
          <h2>Get in touch</h2>
        </header>
        <p>Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
        <ul class="contact">
          <li class="fa-envelope-o"><a href="#">information@untitled.tld</a></li>
          <li class="fa-phone">(000) 000-0000</li>
          <li class="fa-home">1234 Somewhere Road #8254<br />
            Nashville, TN 00000-0000</li>
        </ul>
      </section>

      <!-- Footer -->
      <footer id="footer">
        <p class="copyright">&copy; Untitled. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
      </footer>

    </div>
  </div>

</div>

<!-- Scripts -->
<%= javascript_include_tag "skel.min" %>
<%= javascript_include_tag "util" %>
<!--[if lte IE 8]><%= javascript_include_tag "ie/respond.min" %><![endif]-->
<%= javascript_include_tag "main" %>
</body>
</html>
