<!DOCTYPE html>
<html>
  <head>
    <title>Damoa</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="header-wrapper">
      <div class="header-container">
        <div class="logo">
          <div class="text">
  
          </div>
          <div class="navbar navbar-toggleable-md navbar-light pos">
            <div class="cen">
              <%= link_to "Damoa", root_path, class: 'fs-5 logo-damoa pos1' %>
              <div class="trigger pos2">
                <div class="box"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="triangle-top"></div>
      </div>
    </div>
    <div class="menu-wrapper">
      <div class="menu">
        <ul>
          <li class="nav-item my-3">
            <h3>
              <%= link_to "Home", root_path, class: current_page?(root_path) ? 'current_page_item' : 'nav-link' %>
            </h3>
          </li>
            <% if !user_signed_in? %>
          <li class="nav-item my-3">
            <h3>
              <%= link_to "회원가입", new_user_registration_path, class: current_page?(new_user_registration_path) ? 'current_page_item' : 'nav-link' %>
            </h3>
          </li>
          <% else %>
          <li class="nav-item my-3">
            <h3>
              <%= link_to "회원정보수정", edit_user_registration_path, class: current_page?(edit_user_registration_path) ? 'current_page_item' : 'nav-link' %>
            </h3>
          </li>
          <% end %>
          <li class="nav-item my-3">
            <h3>
              <% if user_signed_in? %>
                <%= link_to "로그아웃", destroy_user_session_path, method: :delete, data: { confirm: "로그아웃 하시겠습니까?" } ,class: "nav-link" %>
              <% else %>
                <%= link_to "로그인", new_user_session_path, class: current_page?(new_user_session_path) ? 'current_page_item' : 'nav-link' %>
              <% end %>
            </h3>
          </li>
          <li class="nav-item my-3">
            <h3>
              <%= link_to "도움말"%>
            </h3>
          </li>
        </ul>
      </div>
    </div>

    <div class="wrapper">
      <div class="wrapper-main">
        <!-- <h3 class = "search-btn py-1">-->
        <!--  <%= form_tag("/search", method: "get") do %>-->
        <!--    <%= text_field_tag(:q) %>-->
        <!--    <%= submit_tag("Search", class: "btn btn-outline-success my-2 mytag") %>-->
        <!--  <% end %>-->
        <!--</h3>-->
        <!--my-sm-0-->
        <%= yield %>
        <span class="remotecon glyphicon glyphicon-menu-up" aria-hidden="true">
          
        </span>
      </div>
    </div>
    <footer class="footer center">
      <p class="underbar">© Damoa 2017</p>
    </footer>

  </body>
</html>
