<!DOCTYPE html>
<html>
  <head>
    <title>Damoa</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="container px-5 py-5">
          <div class="header clearfix py-auto">
            <nav>
              <ul class="nav nav-pills float-right">
                <li class="nav-item my-3">
                  <%= link_to "Home", root_path, class: current_page?(root_path) ? 'nav-link active' : 'nav-link' %>
                </li>
                <% if !user_signed_in? %>
                  <li class="nav-item my-3">
                  <%= link_to "회원가입", new_user_registration_path, class: current_page?(new_user_registration_path) ? 'nav-link active' : 'nav-link' %>
                  </li>
                <% else %>
                  <li class="nav-item my-3">
                  <%= link_to "회원정보수정", edit_user_registration_path, class: current_page?(edit_user_registration_path) ? 'nav-link active' : 'nav-link' %>
                  </li>
                <% end %>
                <li class="nav-item my-3">
                  <% if user_signed_in? %>
                    <%= link_to "로그아웃", destroy_user_session_path, method: :delete, data: { confirm: "로그아웃 하시겠습니까?" } ,class: "nav-link" %>
                  <% else %>
                    <%= link_to "로그인", new_user_session_path, class: current_page?(new_user_session_path) ? 'nav-link active' : 'nav-link' %>
                  <% end %>
                </li>
              </ul>
            </nav>
            <h3 class="text-muted">Damoa</h3>
          </div>

          <div class="jumbotron">
            <% if user_signed_in? %>
              <h1 class="display-3"><%=current_user.username%>님을 환영합니다.</h1>
            <% else %>
              <h1 class="display-3">Damoa에 오신것을 환영합니다.</h1>
            <% end %>
            <p class="lead">다모아는 여러분에게 맞는 게시물들을 자동으로 찾아서 보여드립니다.</p>
          </div>

          <%= yield %>

          <footer class="footer">
            <p>© Damoa 2017</p>
          </footer>

        </div>


  </body>
</html>
